.sidebar-dark{
    background-color: #0e0c28;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link{
    color: #ffffff;
}
.sidebar-dark.nav-left-sidebar .navbar-nav .fas{
    color: #b8b6b6;
}
.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link.active{
    border-left: 6px solid #007BFF;
    color: #0e0c28;
}

.navbar-brand{
    color: #007BFF !important;
}

.theme--light.v-application{
    background: #E2E2EB !important;
}

.selected{
    background: #cecece !important;
}

.caja-productos{
    border-radius: 5px;
    /* margin: 5px; */
    text-align: center;
    background: #ffffff;
    /* cursor: pointer; */
}

.font-small{
    font-size: 0.875em;
    font-weight: 400;
}

.cuadro{
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

.cantidad{
    width: 50px;
}

.precio{
    width: 100px;

}

.opacidad{
    background:#000000;
    width: 100%;
    height: 100%;
    filter:alpha(opacity=50);
    opacity:0.5;
    margin: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    z-index:1000;
    cursor: wait;  
    margin: 0px;
    padding: 0px;
  
}
