/* @import url('../fonts/BrixSansRegular.css'); */
/* @import url('../fonts/BrixSansBlack.css'); */
@page {
    margin: 0cm 0cm;
}
body {
    margin: 1cm 1cm 1cm;
    /* color: #0a4661; */
}



header {
    position: fixed;
    top: 0cm;
    left: 0cm;
    right: 0px;
    height: 2cm;
    text-align: center;
    line-height: 30px;

    /** Extra personal styles **/

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p, label, span, table{
    font-family: 'BrixSansRegular';
    font-size: 9.5pt;
}
.h2{
    font-family: 'BrixSansBlack';
    font-size: 14pt;
    font-weight: bold;
}
.h3{
    font-family: 'BrixSansBlack';
    font-size: 12pt;
    font-weight: bold;
    display: block;
    border-radius: 5px;
    border: 1px solid #0a4661;
    /* background: #0a4661; */
    /* color: #FFF; */
    /* text-align: center; */
    padding: 10px;
    margin-bottom: 5px;
}
#page_pdf{
    width: 95%;
    margin: 15px auto 10px auto;
}

#factura_head, #factura_cliente, #factura_detalle{
    width: 100%;
    margin-bottom: 10px;
}
.logo_factura{
    width: 25%;
}
.info_empresa{
    width: 50%;
}
.info_factura{
    width: 25%;
}
.info_cliente{
    width: 50%;
}
.datos_cliente{
    width: 100%;
}
.datos_cliente tr td{
    width: 50%;
}
.datos_cliente{
    padding: 10px 10px 0 10px;
}
.datos_cliente label{
    width: 120px;
    display: inline-block;
}
.datos_cliente td p{
    display: inline-block;
    right:0;
}
.textright{
    text-align: right;
}
.textleft{
    text-align: left;
}
.textcenter{
    text-align: center;
}
.round{
    border-radius: 10px;
    border: 1px solid #0a4661;
    overflow: hidden;
    padding-bottom: 15px;
}
.round p{
    padding: 0 15px;
}

#factura_detalle{
    border-collapse: collapse;
}
#factura_detalle thead th{
    /* background: #058167; */
    /* color: #FFF; */
    padding: 5px;
}
#detalle_productos tr:nth-child(even) {
    background: #ededed;
}
#detalle_productos td{
    padding: 5px;
}

#detalle_totales td{
    border: 2px solid #ededed;
    overflow: hidden;
}
#detalle_totales span{
    font-family: 'BrixSansBlack';
}
.nota{
    font-size: 8pt;
}
.label_gracias{
    font-family: verdana;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin-top: 20px;
}
.anulada{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

footer {
    position: fixed;
    bottom: 0cm;
    /* font-family: 'BrixSansBlack'; */
    left: 0cm;
    right: 0cm;
    height: 2cm;
    text-align: center;
    line-height: 35px;
}

.rotulo{
    text-align:center;
    border:1px dotted #000;
    line-height: 40px;
    margin-top: 50px;
    padding:8px;
}


li.nav-item{
    color: red !important;
}